/* @import './base.css'; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  --navbar-height: 50px;
}

html, body, #app {
  height: 100%;
  margin: 0;
}